include README.md
include prepare_build.py
include CMakeLists.txt
include LICENSE
recursive-include pylibsparseir *.py
recursive-include pylibsparseir libsparse_ir_capi*
recursive-include pylibsparseir *.so*
recursive-include pylibsparseir *.dylib
recursive-include pylibsparseir *.dll
recursive-include tests *.py
recursive-include tutorials *.py
global-exclude *.pyc
global-exclude __pycache__