name: Cxx-Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: false
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run tests
      run: cd cxx_tests && ./run_with_rust_capi.sh
