name: Rust-CAPI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: false
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: cargo build -p sparseir-capi
    - name: Run tests
      run: cargo test -p sparseir-capi
